body, html { 
    margin: 0;
    padding: 0;
    height: 100%;
}
.container {
    width: 100%;
    height: 100%;
    background: #3843d3;
}

.notice_txt_container{
    margin-right : 500px;
    padding-top: 160px;
    padding-left : 200px;
}

.main_notice_txt{
    font-family: 'NanumSquare', sans-serif !important;
    /* font-family: 'KoPub Dotum'; */
    color : #f4f6f8;
    font-weight: 100;
    font-size: 40px;
    line-height: 53px;
}

.sub_notice_txt{
    font-family: 'NanumSquare', sans-serif !important;
    color : #f4f6f8;
    font-weight: 200;
    font-size: 17px;
    line-height: 24px;
}