html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.background_box{
    text-align: center;
}

.result_main_txt{
    font-size: 30px;
}

.resultimg{
    margin-top: 40px;
}

.result_tag > span{
    font-size: 15px;
    padding-right: 5px;
    font-weight: 500;
    color: #000cad;
}

/* 1920*1080 반응형 */
@media ( min-width: 1080px ) {

	.background_box{
		text-align: center;
	}
	
	.result_main_txt{
		font-size: 30px;
	}
	
	.resultimg{
		margin-top: 40px;
	}

	.result_tag {
		margin-top: 15px;
	}
	
	.result_tag > span{
		font-family: 'NanumSquare', sans-serif !important;
		font-size: 15px;
		padding-right: 5px;
		font-weight: 500;
		color: #000cad;
	}

	.result_main_box{
		margin-top: 130px;
	}

	.result_sub_box{
		margin-top: 80px;
	}

	.result_sub_txt{
		font-family: 'NanumSquare', sans-serif !important;
		font-size: 17px;
		word-spacing: 2px;
		line-height: 30px;
	}

	.result_sub_notice_txt{
		font-family: 'NanumSquare', sans-serif !important;
		font-size: 20px;
	}

	.result_sub_img_box{
		margin-top: 120px;
	}

	.result_sub_img_box > span{
		font-family: 'NanumSquare', sans-serif !important;
		font-size: 20px;
		background-color: #ffeea0;
	}


	.result_sub_celebrity_box{
		margin-top: 120px;
	}

	.result_sub_celebrity_notice{
		font-family: 'NanumSquare', sans-serif !important;
		font-size: 20px;
	}

	.celebrity_box{
		margin-top: 20px;
		margin-bottom: 100px;
	}

	.celebrity_box > span{
		font-family: 'NanumSquare', sans-serif !important;
		font-size: 17px;
	}

	.back_arrow_box{
		float: left;
		margin-top: 50px;
		margin-left: 50px;
	}
	
	.back_arrow_box > a > img{
		width : 50px;
		height : 50px;
	}
}

/* 2560*1440 반응형 */
@media ( min-width: 2000px ) {

	.background_box{
		text-align: center;
	}
	
	.result_main_txt{
		font-size: 45px;
	}
	
	.resultimg{
		margin-top: 60px;
		width : 260px;
		height : 280px;
	}
	
	.result_tag > span{
		font-family: 'NanumSquare', sans-serif !important;
		font-size: 20px;
		padding-right: 5px;
		font-weight: 500;
		color: #000cad;
	}
	
	.result_tag {
		margin-top: 30px;
	}

	.result_main_box{
		margin-top: 160px;
	}
	
}